.DS_Store
.egg/
.gitmodules
.idea/
.ipynb_checkpoints/
.project
.pytest_cache/
.vscode/
BanditPAM.egg-info/
__pycache__
banditpam.cpython*
build/
data/MNIST*k.csv
data/MNIST_CSV.csv
data/data.csvga
data/scrna*
data/cifar*
docs/html
docs/latex
python_generate_plots/__pycache__
python_generate_plots/scrna_data/*
src/KMedoidsLogfile
src/kmedoids_ucb
src/kmeds_pywrapper
src/main
src/main.dSYM/
tmp/
var/
dist/
wheelhouse/
.eggs/
