build==0.10.0
keras==2.13.1
matplotlib==3.7.1
mnist==0.2.2
numpy==1.24.3
opencv_python==4.8.0.76
pandas==2.0.2
protobuf==4.24.1
pybind11==2.11.1
pytest==7.4.0
scipy==1.11.2
seaborn==0.12.2
setuptools==67.7.2
sphinx_rtd_theme==1.2.2
