name: MacOS - build wheels
on: 
  push:
  pull_request:
  release:
    types:
      - published
jobs:
  build_wheels_macos:
    name: Build wheels on macos-10.15
    runs-on: macos-10.15
    strategy:
      fail-fast: false
    steps:
      # Do we need a with: submodules: true here?
      - uses: actions/checkout@v2

      - name: Install MacOS dependencies
        run: |
          brew install libomp armadillo

      # Note: CIBW only supports CPython 3.8 and newer for universal2 and arm64 wheels
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.3.1
        env:
          CIBW_ARCHS_MACOS: x86_64 arm64 universal2
          CIBW_BUILD: cp*

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  upload_pypi:
    needs: [build_wheels_macos]
    runs-on: ubuntu-latest # Can only upload from Linux containers
    # TODO: RBF
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          # For PyPI
          password: ${{ secrets.PYPI_APIKEY }}
          # For TestPyPI. TODO: RBF
          # password: ${{ secrets.TEST_PYPI_APIKEY }}
          # repository_url: https://test.pypi.org/legacy/